Remove Nan Alk values

In [12]:
--DELETE FROM OTS WHERE ALK=0;
SELECT * FROM OTS WHERE ALK=0;

In [15]:
--SELECT Date, ALK FROM OTS
--SELECT * FROM OTS WHERE ALK=0;
--DELETE FROM OTS WHERE ALK=0;
--SELECT * FROM OTS WHERE ALK=0;
CREATE VIEW Alkalinity as
SELECT DATE, ALK FROM OTS

Export as a csv